<%- include('./partials/header') %>
<main>
  <div class="container cardHome" style="margin-top: 100px; margin-bottom: 117px;">
    <div class="cadast">
      <form method="post" action="/createUser">
        <h2 style="text-align: center;">Cadastre-se</h2>

        <% if( typeof msg !== 'undefined') {%>
        <div class="alert alert-info" role="alert">

          <%= msg %>
        </div>

        <% } %>

        <% if( typeof passDif !== 'undefined') {%>
          <div class="alert alert-info" role="alert">
  
            <%= passDif %>
          </div>
  
          <% } %>


        <% if( typeof errors !== 'undefined') {%>
            
            <ul>
              <% errors.forEach(error=>{ %>
                <div class="alert alert-info" role="alert">Por favor verifique os dados!</div>
                <li style="list-style: none;" class=" alert alert-danger" ><%= error %> </li>
            <%  }) %> 
            </ul>
        <% } %>

        <h4 style="text-align: center; font-size: 17px; margin-top: 20px;">preecha o formulario abaixo</h4>


        <div class="row">
          <div class="col-md-6">
            <label for="inputEmail4" class="mt-4">Email:</label>
            <input name="email" type="email" class="form-control" id="inputEmail4" placeholder="Email" class="email"
              required>
              <label for="inputEmail4" class="mt-4">CPF:</label>
            <input required name="CPF" type="text" maxlength="14" class="form-control cpfMask" id="inputEmail4"
              placeholder="CPF">
              <label for="inputPassword4" class="mt-4">Nome completo:</label>
              <input required name="nome" type="text" class="form-control" id="inputPassword4"
                placeholder="Nome completo">
                <label for="inputPassword4" class="mt-4">Telefone de contato:</label>
                <input name="tel" type="text" class="form-control phoneInput" 
                  placeholder="Telefone de contato">
          </div>
          
          <div class="col-md-6">
            <label for="inputPassword4" class="mt-4">Senha:</label>
            <input required name="password" type="password" class="form-control" id="inputPassword4"
              placeholder="Senha">
              <label for="inputPassword4" class="mt-4">Confirme a senha:</label>
              <input required name="Confirmpassword" type="password" class="form-control" id="inputPassword4"
                placeholder="Confirme a senha">
                <label for="inputPassword4" class="mt-4">Data de nascimento:</label>
                <input name="nascimento" type="date" class="form-control" id="inputPassword4" placeholder="DD/MM/AAAA">
                <label for="inputPassword4" class="mt-4">Telefone residencial:</label>
                <input name="telResidencial" type="text" class="form-control phoneResi" 
                  placeholder="Telefone residencial">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mt-4">
            Sexo:
            <br>
            <input type="checkbox" name="sexo" value="0" id="sexo">
            <label for="sexo">Feminino</label>
            <input type="checkbox" name="sexo" value="1" id="sexo">
            <label for="sexo">Masculino</label>
          </div>
          <div class="col-md-6 mt-4">
            Deseja receber ofertas pelo email?
            <br>
            <input type="checkbox" name="ofertas" value="1" id="ofertas">
            <label for="ofertas">Sim</label>
            <input type="checkbox" name="ofertas" value="0" id="ofertas">
            <label for="ofertas">Não</label>
          </div>
        </div>
        <div class="col-md-12 mt-4" style="display: flex; justify-content: center;">
          <button type="submit" class="btn btn-warning">Finalizar Cadastro</button>
        </div>
      </form>
    </div>
  </div>
</main>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/jquery.mask.js" type="text/javascript" charset="utf-8"></script>

<%- include('./partials/footer') %>