<%- include('./partials/header') %>


<main class="container cliente">
  <div class="container cardHome" style="min-height: 640px;">
    <div style="display: flex; align-items: center; justify-content: center;">
      <h2 style="text-align: center;">Meu cadastro</h2> 
      <% if(usuario.userMaster){ %>
        <a href="/pageAdmin">
          <img src="/img/settings.svg" class="log" style="margin-left: 20px;">
        </a>
        <% } %>
    </div>
    
    <form action="/updateClient" method="POST">
      <div class="row">
        <div class="col-md-6" style="margin-bottom: 20px;">
          <label for="inputEmail4">Email:</label>
          <input name="email" type="email" class="form-control email" id="inputEmail4" placeholder="Email"
            value="<%= usuario.email %>" readonly>
        </div>
        <div class="col-md-6" style="margin-bottom: 20px;">
          <label for="inputEmail4">CPF:</label>
          <input type="text" class="form-control CPF" id="inputEmail4" placeholder="CPF" value="<%= usuario.CPF %>"
            name="CPF">
        </div>
        <div class="col-md-6" style="margin-bottom: 20px;">
          <label for="inputPassword4">Nome completo:</label>
          <input type="text" class="form-control" id="inputPassword4" placeholder="Nome completo"
            value="<%= usuario.nome %>" name="nome">
        </div>
        <div class="col-md-6" style="margin-bottom: 20px;">
          <label for="inputPassword4">Data de nascimento:</label>
          <input type="date" class="form-control" id="inputPassword4" placeholder="DD/MM/AAAA"
            value="<%= usuario.nascimento %>" name="nascimento" required>
        </div>
        <div class="col-md-6" style="margin-bottom: 20px;">
          <div class="col">
            <label for="sexo">Qual seu sexo:</label>
            <br>
            <% if(usuario.sexo = 1){ %>
            <input type="checkbox" name="sexo" value="1" class="form-check-input" checked><label
              class="form-check-label">Masculino</label>
            <% }else { %>
            <input type="checkbox" name="sexo" value="0" class="form-check-input"><label
              class="form-check-label">Feminino</label>
            <% } %>
            <br>
            <% if(usuario.sexo == 0){ %>
            <input type="checkbox" name="sexo" value="1" class="form-check-input" checked><label
              class="form-check-label">Masculino</label>
            <% }else { %>
            <input type="checkbox" name="sexo" value="0" class="form-check-input"><label
              class="form-check-label">Feminino</label>
            <% } %>
          </div>
        </div>
        <div class="col-md-6" style="margin-bottom: 20px;">
          <h5>Gostaria de assinar nosso newlestter?</h5>
          <input type="checkbox" class="form-check-input" id="newlester" name="ofertas" value="1">
          <label class="form-check-label" for="newlester">Sim</label>
        </div>
      </div>
      <div class="col-md-12" style="display: flex; align-items: center; justify-content: center;">
        <button type="submit" class="btn btn-warning">Atualizar cadastro</button>
      </div>  
    </form>
  </div>

</main>
<%- include('./partials/footer') %>