<%- include('./partials/header') %>

<main class="mgBottomInfo">
    <div class="container cardHome">
        <div class="row">
            <div class="col-md-12 infoNomeProduto">
              <%= produto.nome %>
            </div>
            <div class="col-md-6" style="padding: 30px;">
                <section class="lazy slider" data-sizes="50%">
                  <% foto.forEach(item => {%> 

                    <div>
                        <img src="<%= item.photo %>" class="card-img-top" alt="...">
                    </div>
                    <% }) %> 
                  </section>
            </div>
            <div class="col-md-6 infos">
                <div class="dataInfo">
                    <p>Valor do produto:</p>
                    <h5>R$ <%= produto.value %></h5>
                </div>
                <div class="dataInfo">
                    <p>Quantidade em estoque:</p>
                    <h5><%= produto.stock %></h5>
                </div>
                <div class="dataInfo" style="display: block;">
                    <p>Descrição do produto:</p>
                    <p><%= produto.description %></p>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="/js/slick.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
    $(document).on('ready', function() {
      $(".lazy").slick({
        lazyLoad: 'ondemand', // ondemand progressive anticipated
        infinite: true,
        autoplay: true
      });
    });
</script>

<%- include('./partials/footer') %>
