<%- include('./partials/header') %>


<main style="margin-bottom: 40px">
  <div class="container-fluid mt-5 wrapMobile" style="display: flex;">
    <div class="widthCardCategory">
      <div class="cardCategory">
        <h5>Categorias</h5>
        <% setor.forEach(item => {%> 
          <p>
            <a href="/produtos?setor=<%= item.id_setor %>" style="text-decoration: none; color: rgb(80, 80, 80)">
              <%= item.nome %>
            </a>
          </p>
        <% }); %>
      </div>
    </div>

      <div class="listProducts">

        <div style="width: 100%; display: flex; justify-content: flex-end;">
          <nav aria-label="...">
            <ul class="pagination">
              <% for(var i = 1; i < pagination.total + 1 ; i++){ %> 
                <% if(i == pagination.page){ %> 
                  <li class="page-item active">
                    <a class="page-link" href="/produtos?setor=<%= pagination.setor %>&page=<%= i %>"><%= i %></a>
                  </li>
                <% }else{ %> 
                  <li class="page-item">
                    <a class="page-link" href="/produtos?setor=<%= pagination.setor %>&page=<%= i %>"><%= i %></a>
                  </li>
                <% } %> 

              <% } %> 
            </ul>
          </nav>
        </div>
        <% if(produto.length == 0){ %> 
          <h3>Nenhum produto ativo no momento</h3>
        <% } %> 

        <% produto.forEach(item => {%> 

        <div class="card" style="width: 18rem; margin-bottom: 30px;">
          <img src="<%= item.photo %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="text-transform: capitalize;"><%= item.nome %></h5>
            <p class="card-text maxCaracter"><%= item.slow_description %></p>
            <a href="infoProdutos?id=<%= item.id_produto %>" class="btn btn-warning" style="width: 100%;">Verificar</a>
          </div>
        </div>
        <% }); %>

      </div>
  </div>
</main>




<%- include('./partials/footer') %>